.name {
  text-align: center;
}
html, body, app-root {
  height: 100%;
  margin: 0;
}

.sidenav-container {
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.sidenav {
  width: 280px;
  padding: 1rem;
}