.users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 0 auto; 
  max-width: 1200px;
}
.user{
    max-width: 300px;
    width: 100%;
}