.title{
    text-align: center;
}
.offers{
    display:grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    max-width: 1000px;
}

.offer{
    max-width: 300px;
}