@if (filteredCards) {
    <form class="filter-form">
  <mat-form-field class="full-width">
    <mat-label>Card name</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Ex. necropotence">
  </mat-form-field>
  </form>
<div class = "cards" >
  @for (card of filteredCards; track card.id) {
    <mat-card class = "card">  
            <img class = "image" mat-card-image [src]="card.cardImage" [alt]="card.name" [routerLink]="['/card', card.id]">
    </mat-card>
    }
</div>
}  @else {
     <p>No cards found.</p>
}