<button mat-button (click)="back()">Back</button>
@if (filteredCards) {
  <form class="filter-form">
    <mat-form-field class="full-width">
      <mat-label>Card name</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Ex. necropotence">
    </mat-form-field>
  </form>

  <div class="cards">
    @for (card of filteredCards; track card.id) {
      <mat-card class="card" (click)="openVersionsForCard(card)">
        <img
          class="image"
          mat-card-image
          [src]="card.versions[0]?.image"
          [alt]="card.name"
        />
      </mat-card>
    }
  </div>
}