.card-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}

.card-image mat-card {
  width: auto;
}

.card-info mat-card {
  flex: 2 1 400px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.oracle-text {
  margin-top: 0.5rem;
  font-style: italic;
}

.flavor-text {
  margin-top: 1rem;
  color: #555;
  font-style: italic;
}
